@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@media screen and (min-width: 600px) {
    #phonechump {
        display: none;
    }
}


#badges {
    padding: 1rem;
}

#main {
    padding-left: 5%;
    padding-right: 5%;
}

#title {
    width: 100%
}

body {
    margin: 5%;
    background-color: #DCD0FF;
    color: #533153;
}

header {
    text-align: center
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 5%;
}